<!-- templates/index.html.twig -->
<!DOCTYPE html>
<html>
<head>
  <title>Esprit Club</title>
</head>
<body>
  <header>
    <h1><center>Esprit Club</center></h1>
  </header>
  <body>
    <center>
    <p>Au sein d'Esprit, les associations et clubs remplissent plusieurs rôles étant donné la diversité des motivations qui animent ceux qui en sont à l'origine. Conscients de l'importance de la vie associative, les étudiants jouent un rôle important dans l'élaboration et la transmission des messages aux destinataires. Ci-dessous la liste des clubs d'Esprit. N'hésitez pas à la compléter.</p>
    <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/305564212_7999204710150986_4784688886454755875_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=-2iiVQAlFK4AX8kKr0-&_nc_oc=AQneeOUyju7LuY_XQ4Ic8wMoYK4jLWXRhl28N-wP_l4LlZoz7PnuZfrhCRqfKFQSiPg&_nc_ht=scontent.ftun10-1.fna&oh=00_AfBLmbYA4rtiyK5s-OEKJePn9_S1Jacb0VwKc4AebN2Luw&oe=63E9ED81" alt="image ESPRIT" style="width:1200px;height:850px;">
    </center>
  </body>
</body>
</html>
